@font-face {
  font-family: "toutiao";
  /* Project id 3678025 */
  src: url('//at.alicdn.com/t/c/font_3678025_8e6yx9s4k4n.woff2?t=1664351692495') format('woff2'), url('//at.alicdn.com/t/c/font_3678025_8e6yx9s4k4n.woff?t=1664351692495') format('woff'), url('//at.alicdn.com/t/c/font_3678025_8e6yx9s4k4n.ttf?t=1664351692495') format('truetype'), url('//at.alicdn.com/t/c/font_3678025_8e6yx9s4k4n.svg?t=1664351692495#toutiao') format('svg');
}
.toutiao {
  font-family: "toutiao" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.toutiao-dianzan:before {
  content: "\e605";
}
.toutiao-dianzan2:before {
  content: "\e606";
}
.toutiao-gengduo:before {
  content: "\e607";
}
.toutiao-fenxiang:before {
  content: "\e608";
}
.toutiao-guanbi:before {
  content: "\e609";
}
.toutiao-lishi:before {
  content: "\e60a";
}
.toutiao-pinglun:before {
  content: "\e60b";
}
.toutiao-shanchu:before {
  content: "\e60c";
}
.toutiao-shoucang:before {
  content: "\e60d";
}
.toutiao-shouye:before {
  content: "\e60e";
}
.toutiao-yanzhengma:before {
  content: "\e60f";
}
.toutiao-wuwangluo:before {
  content: "\e610";
}
.toutiao-youjiantou:before {
  content: "\e611";
}
.toutiao-sousuo:before {
  content: "\e612";
}
.toutiao-shouji:before {
  content: "\e613";
}
.toutiao-wode:before {
  content: "\e614";
}
.toutiao-zuojiantou:before {
  content: "\e615";
}
.toutiao-wenda:before {
  content: "\e616";
}
.toutiao-shipin:before {
  content: "\e617";
}
.toutiao-yuedu:before {
  content: "\e618";
}
.toutiao-zuopin:before {
  content: "\e619";
}
